
body {
    background-color: #DCDCDC;
  }

.thinGrey{
    border-bottom: 20px dotted blue
}

.greenishBlue{

    background-color: aquamarine;
}

img {
    float: left;
  }

  .container-fluid {
    display: inline-block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-fluid {
    display: inline-block;
    width: 50%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.index-box{
    width: 40%;
    margin-left: 20%;
    margin-top: 5%;
    background-color: white;
    
      
}

.box-heading {
    padding-bottom: 15px;
    font-size: larger;
    border-bottom: 3px solid grey
}

.box-body{
    padding-top: 15px;
    
}

.contactme-box{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
      
}

.container-box{
   padding: 5px;
   background-color: white;
  margin-bottom: auto;
    
}

.center {
    width: 300px;
    margin: auto;
    border: 1px solid red;
    display: inline-block;
  }

  #thumbs {   
    /* width: 940px;
    margin-top:90px; */
    margin-left: auto; 
    margin-right: auto;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .card {
    margin-bottom: 2%;
    margin-left: 40%;
  }

  .btn {
    margin-bottom: 3%;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-group {
  margin-right: 30%;
}

  /* font-family: 'Abril Fatface', cursive; */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }